name: Test

on:
  push:
    branches:
      - main
jobs:
  step1:
    runs-on: ubuntu-latest

    steps:

      - run: set -eu
      - run: mkdir "$HOME/.ssh"
      - run: echo "${{ secrets.ACTIONS_KEY_REG }}" > "$HOME/.ssh/ACTIONS_KEY_REG"
      - run: chmod 600 "$HOME/.ssh/ACTIONS_KEY_REG"

      - run: rsync -e "ssh -i $HOME/.ssh/ACTIONS_KEY_REG -o StrictHostKeyChecking=no" --archive --compress --delete . root@37-140-195-145.cloudvps.regruhosting.ru:/opt/testers/